.ol-custom-overviewmap{
	display: none;
}

#map .ol-scale-line {
	left:0px;
}

#map .ol-mouse-position{
	display: none;
}
#map .ol-zoom-extent{
	display: none;
}
#map .ol-zoom{
	/*display: none;*/
	/*top: 80%;*/
}
#map .ol-zoomslider {
	/*display: none;*/
}
#mapchageDiv{
	display: none;
}
.MeasureTool{
	display: none;
}

.positionIcon{
	cursor: pointer;
	position:absolute;
	left: 5px; 
	bottom:35px;
	width: 32px;
	height: 32px;
	background-image: url("../img/locationIco32.png");
}
.changeto_googleMap{
	position:absolute;
	right: 5px; 
	top:20px;
	width: 32px;
	height: 32px;
	background-image: url("../img/googleMap.png");
}
.changeto_gaodeMap{
	position:absolute;
	right: 5px; 
	top:20px;
	width: 32px;
	height: 32px;
	background-image: url("../img/gaodeMap.png");
}
.changeto_googleMap_anno{
	position:absolute;
	right: 5px; 
	top:20px;
	width: 32px;
	height: 32px;
	background-image: url("../img/googleMap_anno.png");
}